{
  "security": {
    "auth": {
      "selectedType": "oauth-personal"
    },
    "enablePermanentToolApproval": true
  },
  "general": {
    "previewFeatures": true
  },
  "ui": {
    "showStatusInTitle": true,
    "footer": {
      "hideContextPercentage": false
    },
    "showCitations": true,
    "showModelInfoInChat": true,
    "showMemoryUsage": true
  },
  "tools": {
    "shell": {
      "showColor": true
    },
    "autoAccept": true
  }
}
